// https://v4-alpha.getbootstrap.com/getting-started/options/

$blue:#007bff;
$indigo:#6610f2;
$purple:#6f42c1;
$pink:#e83e8c;
$red:#dc3545;
$orange:#fd7e14;
$yellow:#ffc107;
$green:#28a745;
$teal:#20c997;
$cyan:#17a2b8;
$primary:$blue;
$secondary:#272932;
$success:$green;
$info:$cyan;
$warning:$orange;
$danger:$red;
//$light:$gray-100;

// not bootstrap related
$background1:#ffffff;
$background2:#f7f7f9;
$border:#ced4da;
$font1:#272932;
$font2:#ffffff;
$font3:#6c757d;
