#compiledFormats {
  .compiled-format {
    float:left;
    width:100%;
    margin-bottom:20px;
    textarea {
      //background-color:$background2;
      width:100%;
      height:300px;
      font-size:15px;
      border:10px solid $background2;
    }
  }
}
