#settings {
  position:fixed;
  // showing settings in startup
  //display:none;
  top:0;
  left:200px;
  z-index:1000;
  width:calc(100% - 200px);
  height:100vh;
  padding:15px;
  overflow-y:scroll;
  background-color:$background1;
}
