#sidebar {
  height:100vh;
  border-right:solid 1px $border;
  #fixedContent {
    position:fixed;
    width:199px;
    background-color:$background1;
    #search {
      width:200px;
    }
  }
  #fileDropArea {
    width:100%;
    height:170px;
    padding:15px;
    cursor:pointer;
    background-color:$background1;
    border:2px dashed $primary;

    .message {
      margin-top:35px;
      font-size:18px;
      color:$primary;
      text-align:center;
    }
  }
  #fileDropArea:hover {
    background-color:$background2;
  }
  #fileList {
    //float:left;
    width:100%;
    padding:0;
    margin-bottom:0;
    overflow:scroll;
    color:$font1;
    list-style-type:none;
    .file {
      padding:15px;
      cursor:pointer;
    }
    .file:nth-child(odd) {
      background-color:$background2;
    }
    .file:last-child {
      //border-bottom:1px solid $border;
    }
    .file:hover {
      background-color:#dee2e6;
    }
  }
  // rhomb
  #toggleSettings::after {
    display:inline-block;
    margin-left:.5em;
    vertical-align:.255em;
    content:"";
    border-top:.3em solid;
    border-right:.3em solid transparent;
    border-bottom:0;
    border-left:.3em solid transparent;
  }
}
